# Gradle Build Directories
/build/
/*/build/
/app/build/
app/production/
app/internal/

# IDE & Local Project Settings
/.idea/
.gradle/
*.iml
.DS_Store

# Secret samples
**/src/internal/
app/src/androidTest/assets/test_fixtures_secret/
*.dll

/.kotlin/
.env
.venv/
__pycache__/
.gradle
/local.properties
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
